.popup__button_theme_black {
    background-color: black;
    color: white;
    font-size: 14px;
}

.popup__button:disabled {
    border: 1px solid rgba(0, 0, 0, .2);
    color: rgba(0, 0, 0, .2);
    background-color: white;
}
